.chat-container{
    display: flex;
    min-height: calc(100vh - 100px);
}
.chat-sidebar{
    border: 1px solid lightgray;
    flex:1;
}
.chat-message-form{
    border: 1px solid lightgray;
    flex:3;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* justify-content: space-between; */
}